<div class="screen">
  <mm2-boss class="boss" x="112" y="31"  (change)="password.airman   .toggleIsDefeated()" [boss]="password.airman"></mm2-boss>
  <mm2-boss class="boss" x="48"  y="31"  (change)="password.bubbleman.toggleIsDefeated()" [boss]="password.bubbleman"></mm2-boss>
  <mm2-boss class="boss" x="176" y="159" (change)="password.crashman .toggleIsDefeated()" [boss]="password.crashman"></mm2-boss>
  <mm2-boss class="boss" x="112" y="159" (change)="password.flashman .toggleIsDefeated()" [boss]="password.flashman"></mm2-boss>
  <mm2-boss class="boss" x="48"  y="95"  (change)="password.heatman  .toggleIsDefeated()" [boss]="password.heatman"></mm2-boss>
  <mm2-boss class="boss" x="48"  y="159" (change)="password.metalman .toggleIsDefeated()" [boss]="password.metalman"></mm2-boss>
  <mm2-boss class="boss" x="176" y="23"  (change)="password.quickman .toggleIsDefeated()" [boss]="password.quickman"></mm2-boss>
  <mm2-boss class="boss" x="176" y="95"  (change)="password.woodman  .toggleIsDefeated()" [boss]="password.woodman"></mm2-boss>
</div>
