<div class="screen">
  <mm2-marker [xy]="password.etanks.clone()"></mm2-marker>
  <mm2-marker [xy]="password.airman.xy.clone()"></mm2-marker>
  <mm2-marker [xy]="password.bubbleman.xy.clone()"></mm2-marker>
  <mm2-marker [xy]="password.crashman.xy.clone()"></mm2-marker>
  <mm2-marker [xy]="password.flashman.xy.clone()"></mm2-marker>
  <mm2-marker [xy]="password.heatman.xy.clone()"></mm2-marker>
  <mm2-marker [xy]="password.metalman.xy.clone()"></mm2-marker>
  <mm2-marker [xy]="password.quickman.xy.clone()"></mm2-marker>
  <mm2-marker [xy]="password.woodman.xy.clone()"></mm2-marker>

  <mm2-boss class="boss" x="118" y="318" (change)="password.airman   .toggleIsDefeated()" [boss]="password.airman"></mm2-boss>
  <mm2-boss class="boss" x="54"  y="318" (change)="password.bubbleman.toggleIsDefeated()" [boss]="password.bubbleman"></mm2-boss>
  <mm2-boss class="boss" x="246" y="398" (change)="password.crashman .toggleIsDefeated()" [boss]="password.crashman"></mm2-boss>
  <mm2-boss class="boss" x="182" y="398" (change)="password.flashman .toggleIsDefeated()" [boss]="password.flashman"></mm2-boss>
  <mm2-boss class="boss" x="246" y="318" (change)="password.heatman  .toggleIsDefeated()" [boss]="password.heatman"></mm2-boss>
  <mm2-boss class="boss" x="118" y="398" (change)="password.metalman .toggleIsDefeated()" [boss]="password.metalman"></mm2-boss>
  <mm2-boss class="boss" x="182" y="310" (change)="password.quickman .toggleIsDefeated()" [boss]="password.quickman"></mm2-boss>
  <mm2-boss class="boss" x="54"  y="398" (change)="password.woodman  .toggleIsDefeated()" [boss]="password.woodman"></mm2-boss>
  
  <mm2-e-tank etank="0" x="212" y="140" [currentEtank]="password.currentEtanks" (change)="setEtanks($event)"></mm2-e-tank>
  <mm2-e-tank etank="1" x="244" y="140" [currentEtank]="password.currentEtanks" (change)="setEtanks($event)"></mm2-e-tank>
  <mm2-e-tank etank="2" x="196" y="164" [currentEtank]="password.currentEtanks" (change)="setEtanks($event)"></mm2-e-tank>
  <mm2-e-tank etank="3" x="228" y="164" [currentEtank]="password.currentEtanks" (change)="setEtanks($event)"></mm2-e-tank>
  <mm2-e-tank etank="4" x="258" y="164" [currentEtank]="password.currentEtanks" (change)="setEtanks($event)"></mm2-e-tank>

  <mm2-items
    [password]="password"
     (heatmanChange)="password.heatman .toggleIsDefeated()"
      (airmanChange)="password.airman  .toggleIsDefeated()"
    (flashmanChange)="password.flashman.toggleIsDefeated()"
  ></mm2-items>
</div>
