<div class="screen">
  <mm2-marker [xy]="password.etanks.clone()"></mm2-marker>
  <mm2-marker [xy]="password.airman.xy.clone()"></mm2-marker>
  <mm2-marker [xy]="password.bubbleman.xy.clone()"></mm2-marker>
  <mm2-marker [xy]="password.crashman.xy.clone()"></mm2-marker>
  <mm2-marker [xy]="password.flashman.xy.clone()"></mm2-marker>
  <mm2-marker [xy]="password.heatman.xy.clone()"></mm2-marker>
  <mm2-marker [xy]="password.metalman.xy.clone()"></mm2-marker>
  <mm2-marker [xy]="password.quickman.xy.clone()"></mm2-marker>
  <mm2-marker [xy]="password.woodman.xy.clone()"></mm2-marker>
</div>
