<img
  style="left: 200px; top: 240px"
  class="item fade-in-out"
  [class.isNotObtained]="! password?.heatman?.isDefeated"
  src="assets/img/items/item-1.png"
  alt="Heatman - Item 1"
  title="Heatman - Item 1"
  (click)="onHeatmanClick()">

<img
  style="left: 232px; top: 240px"
  class="item fade-in-out"
  [class.isNotObtained]="! password?.airman?.isDefeated"
  src="assets/img/items/item-2.png"
  alt="Airman - Item 2"
  title="Airman - Item 2"
  (click)="onAirmanClick()">

<img
  style="left: 272px; top: 240px"
  class="item fade-in-out"
  [class.isNotObtained]="! password?.flashman?.isDefeated"
  src="assets/img/items/item-3.png"
  alt="Flashman - Item 3"
  title="Flashman - Item 3"
  (click)="onFlashmanClick()">
