<h1>Megaman 2</h1>
<h2>Password generator</h2>

<div class="center">
  <mm2-password-screen [password]="password"></mm2-password-screen>
  <pre>{{ passwordCoordinates }}</pre>
</div>

<button (click)="password.incEtanks()" [disabled]="isIncButtonDisable">Increase E-tank</button>
<button (click)="password.decEtanks()" [disabled]="isDecButtonDisable">Decrease E-tank</button>

<p>{{ password.currentEtanks }} E-tanks</p>

<div *ngFor="let boss of password.bosses">
  <input type="checkbox" (change)="boss.toggleIsDefeated()" [id]="boss.name">
  <label [for]="boss.name">{{ boss.item.join(' + ') }}</label>
</div>
