<h1>Megaman 2</h1>
<h2>Password generator</h2>

<mm2-password-board [data]="password.compute"></mm2-password-board>
<pre>{{ passwordCoordinates }}</pre>

<button (click)="password.incEtanks()" [disabled]="isIncButtonDisable">Increase E-tank</button>
<button (click)="password.decEtanks()" [disabled]="isDecButtonDisable">Decrease E-tank</button>

<p>{{ password.currentEtanks }} E-tanks</p>

<div *ngFor="let boss of password.bosses">
  <input type="checkbox" (change)="boss.toggleIsDefeated()" [id]="boss.name">
  <label [for]="boss.name">{{ boss.item.join(' + ') }}</label>
</div>
